@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Inter:wght@200;300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-jpm-navy: #0F1E36;
  --color-jpm-gold: #9E8256;
  --color-jpm-gold-light: #C5A880;
  --color-jpm-paper: #FBF9F6;
  --color-jpm-gray: #4A525D;
}

@layer base {
  body {
    @apply font-sans bg-[#FBF9F6] text-jpm-navy selection:bg-jpm-gold selection:text-white antialiased;
  }
}

@layer utilities {
  .text-serif {
    font-family: var(--font-serif);
  }
  .border-editorial {
    @apply border-t border-b border-jpm-navy/10;
  }
}
